doctype html

head
  include ../includes/head.pug

.wrapper
  include ../includes/sidebar.pug
  .main-panel
    include ../includes/navbar.pug
    .content
      block content
        p palette exc page
        -for(var i=0;i<ct.excs.length;i++)
          .row
            .col-lg-10
              .card
                .card-content
                  .row
                    .col-sm-2
                      .img-center
                        img(src=ct.excs[i].pic alt='')
                      br
                    .col-sm-9
                      h3 #{ct.excs[i].name}
                      h5 #{ct.excs[i].info}
                      button.btn.btn-wd.btn-success(type='button' onclick="location.href='/exc/"+ct.excs[i]._id+"'")
                        span.btn-label
                          i.fa.fa-check
                        | &#x9;                                            Go
                  
                  
          



        //-for(var i=0;i<ct.excs.length;i++)
          img(src=ct.excs[i].pic alt='') 
          a(href='exc/'+ct.excs[i]._id) #{ct.excs[i].name}
          br

include ../includes/scripts.pug