doctype html
head
  include ../includes/head.pug

.wrapper
  include ../includes/sidebar.pug
  .main-panel
    include ../includes/navbar.pug
    .content
      block content
        .row
          .col-lg-3.col-md-5
            .card
              .card-content
                -if(!(ct.exc.pic==null||ct.exc.pic==''))
                  .image
                    img(src=ct.exc.pic alt='')

                h3 #{ct.exc.name}
                h5 #{ct.exc.info}

          .col-lg-8.col-md-7
            .card
              .card-header
                h4.card-title location
              .card-content
                p #{ct.exc.location}
            .card
              .card-header
                h4.card-title gu
              .card-content
                p #{ct.exc.gu}
            .card
              .card-header
                h4.card-title palette type
              .card-content
                p #{ct.exc.palette}
            .card
              .card-header
                h4.card-title schedule
              .card-content
                p #{ct.exc.sch.date.getFullYear()}.#{ct.exc.sch.date.getMonth()+1}.#{ct.exc.sch.date.getDate()} : #{ct.exc.sch.event}
            .card
              .card-header
                h4.card-title due
              .card-content
                p #{ct.exc.due.getFullYear()}.#{ct.exc.due.getMonth()+1}.#{ct.exc.due.getDate()}
            .card
              .card-content
                p For more information, contact to
                p #{ct.exc.contact}


      //block content
        style.
          img{
            width:20%
          }
        h2 #{ct.exc.name}
        -if(!(ct.exc.pic==null||ct.exc.pic==''))
          img(src=ct.exc.pic alt='')
        h3 information :
        p #{ct.exc.info}
        h3 location :
        p #{ct.exc.location}
        h3 gu :
        p #{ct.exc.gu}
        h3 palette type :
        p #{ct.exc.palette}
        h3 schedule :
        p #{ct.exc.sch.date.getFullYear()}.#{ct.exc.sch.date.getMonth()+1}.#{ct.exc.sch.date.getDate()}
        p #{ct.exc.sch.event}
        br
        h3 due :
        p #{ct.exc.due.getFullYear()}.#{ct.exc.due.getMonth()+1}.#{ct.exc.due.getDate()}
        br
        h4 for more information, please contact to
        p #{ct.exc.contact}
        br
        a(href="/exc/apcn/"+ct.exc._id) enroll

    include ../includes/footer.pug
include ../includes/scripts.pug