doctype html

head
  include ../includes/head.pug

.wrapper
  include ../includes/sidebar.pug
  .main-panel
    include ../includes/navbar.pug
    .content
      block content
        p palette school page
        -var rows = parseInt(ct.schools.length/3)+1
        -for(var i=0;i<rows;i++)
          .row
            -if(!(ct.schools[3*i]==null || ct.schools[3*i] ==''))
              .col-lg-3.col-sm-6
                .card
                  .card-header
                    a(href='school/'+ct.schools[3*i]._id) #{ct.schools[3*i].name}
                  .image
                    img(src=ct.schools[3*i].pic alt='')
                  
            -if(!(ct.schools[3*i+1]==null || ct.schools[3*i+1] ==''))
              .col-lg-3.col-sm-6
                .card
                  .card-header
                    a(href='school/'+ct.schools[3*i+1]._id) #{ct.schools[3*i+1].name}
                  .image
                    img(src=ct.schools[3*i+1].pic alt='') 
                  
            -if(!(ct.schools[3*i+2]==null || ct.schools[3*i+2] ==''))
              .col-lg-3.col-sm-6
                .card
                  .card-header
                    a(href='school/'+ct.schools[3*i+2]._id) #{ct.schools[3*i+2].name}
                  .image
                    img(src=ct.schools[3*i+2].pic alt='') 
        //-for(var i=0;i<ct.schools.length;i++)
          img(src=ct.schools[i].pic alt='') 
          a(href='school/'+ct.schools[i]._id) #{ct.schools[i].name}
          br

include ../includes/scripts.pug