doctype html
head
  include ../includes/head.pug

.wrapper
  include ../includes/sidebar.pug
  .main-panel
    include ../includes/navbar.pug
    .content
      block content
        p palette school page
        -for(var i=0;i<ct.schools.length;i++)
          .row
            .col-lg-10
              .card
                .card-content
                  .row
                    .col-sm-2
                      .img-center
                        -if(!(ct.schools[i].pic==null || ct.schools[i].pic==''))
                          img(src=ct.schools[i].pic alt='')
                        -else
                          img(src='/image/default_pic.png' alt='')
                      br
                    .col-sm-9
                      h3 #{ct.schools[i].name}
                      h5 #{ct.schools[i].info}
                      button.btn.btn-wd.btn-success(type='button' onclick="location.href='/school/"+ct.schools[i]._id+"'")
                        span.btn-label
                          i.fa.fa-check
                        | &#x9;                                            Go



        //-var rows = parseInt(ct.schools.length/3)+1
        //-for(var i=0;i<rows;i++)
          .row
            -if(!(ct.schools[3*i]==null || ct.schools[3*i] ==''))
              .col-lg-3.col-sm-6
                .card
                  .card-header
                    a(href='school/'+ct.schools[3*i]._id) #{ct.schools[3*i].name}
                  .image
                    img(src=ct.schools[3*i].pic alt='')

            -if(!(ct.schools[3*i+1]==null || ct.schools[3*i+1] ==''))
              .col-lg-3.col-sm-6
                .card
                  .card-header
                    a(href='school/'+ct.schools[3*i+1]._id) #{ct.schools[3*i+1].name}
                  .image
                    img(src=ct.schools[3*i+1].pic alt='')

            -if(!(ct.schools[3*i+2]==null || ct.schools[3*i+2] ==''))
              .col-lg-3.col-sm-6
                .card
                  .card-header
                    a(href='school/'+ct.schools[3*i+2]._id) #{ct.schools[3*i+2].name}
                  .image
                    img(src=ct.schools[3*i+2].pic alt='')
        //-for(var i=0;i<ct.schools.length;i++)
          img(src=ct.schools[i].pic alt='')
          a(href='school/'+ct.schools[i]._id) #{ct.schools[i].name}
          br

    include ../includes/footer.pug
include ../includes/scripts.pug
//script(src='/assets/js/jquery.min.js' type='text/javascript')
//script(src='/assets/js/jquery-ui.min.js' type='text/javascript')
//script(src='/assets/js/perfect-scrollbar.min.js' type='text/javascript')
//script(src='/assets/js/bootstrap.min.js' type='text/javascript')
script(type='text/javascript').
  $(document).ready(function(){
    alert('씨발')
  })