doctype html

head
  include ../includes/head.pug

.wrapper
  include ../includes/sidebar.pug
  .main-panel
    include ../includes/navbar.pug
    .content
      block content
        style.
          img{
            width:20%
          }
        h2 #{ct.school.name}
        -if(!(ct.school.pic==null||ct.school.pic==''))
          img(src=ct.school.pic alt='')
        h3 information :
        p #{ct.school.info}
        h3 address :
        p #{ct.school.address}
        
        h3 Clubs in #{ct.school.name} :
        -for(var i=0;i<ct.school.clubs.length;i++)
          img(src=ct.school.clubs[i].pic alt='')
          a(href='/club/'+ct.school.clubs[i]._id) #{ct.school.clubs[i].name}

include ../includes/scripts.pug