doctype html
head
  include ../includes/head.pug

.wrapper
  include ../includes/sidebar.pug
  .main-panel
    include ../includes/navbar.pug
    .content
      block content
        .row
          .col-lg-3.col-md-5
            .card
              .card-content
                -if(!(ct.school.pic==null||ct.school.pic==''))
                  .image-center
                    img(src=ct.school.pic alt='')

                h3 #{ct.school.name}
                h5 #{ct.school.info}
                h5 at #{ct.school.address}

          .col-lg-8.col-md-7
            .card
              .card-header
                h4.card-title Clubs in #{ct.school.name}
              .card-content
                -for(var i=0;i<ct.school.clubs.length;i++)
                  .row
                    .col-sm-2
                      .img-center
                        img(src=ct.school.clubs[i].pic alt='')
                      br
                    .col-sm-7
                      h5 #{ct.school.clubs[i].name}
                      p #{ct.school.clubs[i].info}
                      button.btn.btn-xs.btn-success(onclick="location.href='/club/"+ct.school.clubs[i]._id+"'")
                        span.btn-label
                          i.fa.fa-check
                        | &#x9;                                            Check Out
                  //-for(var i=0;i<ct.school.clubs.length;i++)
                    a(href='/club/'+ct.school.clubs[i]._id) #{ct.school.clubs[i].name}
                    p : #{ct.school.clubs[i].info}
                    br
                    //이미지를 넣을까 말까
                    //img(src=ct.school.clubs[i].pic alt='')



        //h2 #{ct.school.name}
        //-if(!(ct.school.pic==null||ct.school.pic==''))
          img(src=ct.school.pic alt='')
        //h3 information :
        //p #{ct.school.info}
        //h3 address :
        //p #{ct.school.address}

        //h3 Clubs in #{ct.school.name} :
        //-for(var i=0;i<ct.school.clubs.length;i++)
          img(src=ct.school.clubs[i].pic alt='')
          a(href='/club/'+ct.school.clubs[i]._id) #{ct.school.clubs[i].name}

    include ../includes/footer.pug
include ../includes/scripts.pug