extends ../layout

block content
  h2 My Page
  style.
    img{
      width:10%
    }
  form(action='/mypage/upload' method='POST' enctype='multipart/form-data')
    input(type='file' name='file')
    label(for='file') Choose file
    input(type='submit' value='submit')
  -if(!(ct.user.pic==null||ct.user.pic==''))
    img(src=ct.user.pic alt='')
  form(method='POST' action='/mypage/delete/'+ct.user.pic)
    button.submit Delete
  br
  p first name : #{ct.user.fname}
  p last name : #{ct.user.lname}
  p school : #{ct.user.school.name}
  a(href='school/'+ct.user.school._id) go
  p work experience : #{ct.user.work_exp}
  p bio : #{ct.user.bio}
  p skills and interests : #{ct.user.s_i}
  p extracurricular activities :
  -for(var i=0;i<ct.user.excs.length;i++)
    p #{ct.user.excs[i].name}
    a(href='exc/'+ct.user.excs[i]._id) go
  p my palette : #{ct.user.my_palette}