doctype html

head
  include ../includes/head.pug
.wrapper
  include ../includes/sidebar.pug
  .main-panel
    include ../includes/navbar.pug
    .content
      .container-fluid
        .row
          .col-lg-4.col-md-5
            .card.card-user
              .image
                img(src='../../assets/img/background.jpg' alt='...')
              .card-content
                .author
                  img.avatar.border-white(src=ct.user.pic alt='...')
                  h4.card-title
                    | #{ct.user.fname} #{ct.user.lname}
                    br
                    a(href='#')
                      small #{ct.user.email}
                p.description.text-center
                  | &quot;#{ct.user.bio}
                  br
                  | &#x9;                                    #{ct.user.fun_facts}
                  br
                  | &#x9;                                    #{ct.user.s_i}&quot;
              hr
              .text-center
                .row
                  .col-md-3.col-md-offset-1
                    h5
                      | #{ct.user.excs.length}
                      br
                      small Extracurricular Activities
                  .col-md-4
                    h5
                      | #{ct.user.clubs.length}
                      br
                      small Clubs
                  .col-md-3
                    h5
                      | 24,6$
                      br
                      small Spent
            .card
              .card-header
                h4.card-title Team Members
              .card-content
                ul.list-unstyled.team-members
                  li
                    .row
                      .col-xs-3
                        .avatar
                          img.img-circle.img-no-padding.img-responsive(src='../../assets/img/faces/face-0.jpg' alt='Circle Image')
                      .col-xs-6
                        | DJ Khaled
                        br
                        span.text-muted
                          small Offline
                      .col-xs-3.text-right
                        btn.btn.btn-sm.btn-success.btn-icon
                          i.fa.fa-envelope
                  li
                    .row
                      .col-xs-3
                        .avatar
                          img.img-circle.img-no-padding.img-responsive(src='../../assets/img/faces/face-1.jpg' alt='Circle Image')
                      .col-xs-6
                        | Creative Tim
                        br
                        span.text-success
                          small Available
                      .col-xs-3.text-right
                        btn.btn.btn-sm.btn-success.btn-icon
                          i.fa.fa-envelope
                  li
                    .row
                      .col-xs-3
                        .avatar
                          img.img-circle.img-no-padding.img-responsive(src='../../assets/img/faces/face-3.jpg' alt='Circle Image')
                      .col-xs-6
                        | Flume
                        br
                        span.text-danger
                          small Busy
                      .col-xs-3.text-right
                        btn.btn.btn-sm.btn-success.btn-icon
                          i.fa.fa-envelope
          .col-lg-8.col-md-7
            form(method='POST' action='/mypage/upload' enctype='multipart/form-data')
              .card
                .card-header
                  h4.card-title Update Profile Picture
                .card-content
                  form
                    .row
                      .col-md-12
                        .form-group
                          input.form-control.border-input(type='file' name='file')
                    .text-center
                      button.btn.btn-info.btn-fill.btn-wd(type='submit') Update Profile Picture
                    .clearfix
                          
            form(method='POST' action='/mypage/update')
              .card
                .card-header
                  h4.card-title Edit Profile
                .card-content
                  form
                    .row
                      .col-md-5
                        .form-group
                          label Name
                          input.form-control.border-input(type='text' disabled='' placeholder='Name' value=ct.user.fname+' '+ct.user.lname)
                      .col-md-3
                        .form-group
                          label School
                          input.form-control.border-input(type='text' disabled='' placeholder='School' value=ct.user.school.name)
                      .col-md-4
                        .form-group
                          label(for='exampleInputEmail1') Email address
                          input.form-control.border-input(type='email' disabled='' placeholder='Email' value=ct.user.email)
                    .row
                      .col-md-6
                        .form-group
                          label Work Experience
                          input.form-control.border-input(name='work_exp' type='text' placeholder='Work Experience' value=ct.user.work_exp)
                      .col-md-6
                        .form-group
                          label Skills and Interests
                          input.form-control.border-input(name='s_i' type='text' placeholder='Skills and Interests' value=ct.user.s_i)
                    .row
                      .col-md-12
                        .form-group
                          label Address
                          input.form-control.border-input(name='address' type='text' placeholder='Home Address' value=ct.user.address)
                    .row
                      .col-md-4
                        .form-group
                          label PA
                          input.form-control.border-input(name='pa' type='text' placeholder='your first palette' value=ct.user.my_palette[0])
                      .col-md-4
                        .form-group
                          label LE
                          input.form-control.border-input(name='le' type='text' placeholder='your second palette' value=ct.user.my_palette[1])
                      .col-md-4
                        .form-group
                          label TTE
                          input.form-control.border-input(name='tte' type='text' placeholder='your third palette' value=ct.user.my_palette[2])
                    .row
                      .col-md-12
                        .form-group
                          label About Me
                          input.form-control.border-input(name='bio' type='text' placeholder='your bio' value=ct.user.bio)
                          input.form-control.border-input(name='fun_facts' type='text' placeholder='your fun facts' value=ct.user.fun_facts)
                  
                    .text-center
                      button.btn.btn-info.btn-fill.btn-wd(type='submit') Update Profile
                    .clearfix
    footer.footer
      .container-fluid
        nav.pull-left
          ul
            li
              a(href='https://www.creative-tim.com')
                | Creative Tim
            li
              a(href='https://blog.creative-tim.com')
                | Blog
            li
              a(href='https://www.creative-tim.com/license')
                | Licenses
        .copyright.pull-right
          | &copy; 
          script.
            document.write(new Date().getFullYear())
          | , made with 
          i.fa.fa-heart.heart
          |  by 
          a(href='https://www.creative-tim.com') Creative Tim
include ../includes/scripts.pug