extends ../layout

block content
  style.
    img{
      width:10%
    }
  h2 #{ct.school.name}
  -if(!(ct.school.pic==null||ct.school.pic==''))
    img(src='/school/hi/'+ct.school._id alt='')
  h3 information :
  p #{ct.school.info}
  h3 address :
  p #{ct.school.address}
  
  h3 Clubs in #{ct.school.name} :
  -for(var i=0;i<ct.school.clubs.length;i++)
    p #{ct.school.clubs[i].name}
    a(href='/club/'+ct.school.clubs[i]._id) go