extends ../layout

block content
  h2 #{ct.school.name}
  h3 information :
  p #{ct.school.info}
  h3 address :
  p #{ct.school.address}
  
  h3 Clubs in #{ct.school.name} :
  -for(var i=0;i<ct.school.clubs.length;i++)
    p #{ct.school.clubs[i].name}
    a(href='/club/'+ct.school.clubs[i]._id) go